# Classification of Music by Genre

Classification of music by genre.

First, some imports...

In [5]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
import matplotlib.pyplot as plt 
%matplotlib inline
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_moons
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
import pandas as pd

Set up dataset

In [24]:
music = pd.read_csv("music.csv")
X = music[["Popularity", "danceability", "energy", "loudness", "mode", "speechiness", "acousticness", "liveness", "valence", "tempo", "time_signature"]]
y = music[["Class"]]

X
y
#X_train, X_test, y_train, y_test = train_test_split(X, y)

       Class
0          5
1          5
2          5
3          5
4          5
...      ...
12401     10
12402     10
12403     10
12404     10
12405     10

[12406 rows x 1 columns]